body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

.body {
    display: flex;
    height: 500px;
}
.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.layout {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    width: 300px;
}

.message-sender {
    color: gray;
}

.textField {
    width: 100%;
    display: flex;
}

.header {
    display: block;
    width: 100%;
    height: 70px;
    background-color: lightblue;
    align-content: center;
}

.chatList {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    height: 100%;
    width: 30%;
    padding: 20px;
}

.input {
    width: 900px;
    display: flex;
}
